--index-url https://download.pytorch.org/whl/cpu
torch==2.8.0 
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
transformers==4.44.2
accelerate==0.34.2
sentencepiece
gdown>=5.1.0
pyarrow>=14,<20
evaluate==0.4.2
datasets==2.21.0
unbabel-comet==2.2.3
ipykernel
