pandas==2.2.2
pyarrow>=14,<20
scikit-learn==1.5.2
sentencepiece
evaluate==0.4.2
transformers==4.44.2
datasets==2.21.0
accelerate==0.34.2
unbabel-comet==2.2.3
torch==2.8.0 --index-url https://download.pytorch.org/whl/cpu
ipykernel